@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import 'custom';

html{
    position:relative;
    min-height: 100%;
}

main{
    margin-bottom: 270px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/pexels-pixabay-262978.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les elements devant le ::before
        position: relative;
    }

    .hero-scene-content{
        height: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
}

.text-justify{
    text-align:justify;
}

.image-card{
    position: relative;
    &:hover{
        .titre-image, 
        .action-image-buttons{
            opacity: 1;
        }
        img{
            filter: brightness(0.3) //en survol on diminue la clareté de 30% sur l'image
        }
    }

    img{
        transition: all 0.3s; //on ajoute une temps pour la transition lors du survol pour un meilleur effet

    }
    .titre-image{
        position:absolute; // on veut que le titre se positionne au dessus de l'image on lui donne une position absolue et on donne une postion relative au parent
        top: 50%;   //permet de centrer un élément en posistion absolu
        left: 50%; //permet de centrer un élément en posistion absolu
        transform: translate(-50%, -50%); //le texte est centré par raport à sa première lettre avec top et left il faut le centrer sur son ensemble on le décale de 50% de sa taille vers la gauche et de 50% de sa taille vers le haut
        opacity: 0;
        transition: all 1s;//on ajoute une temps pour la transition lors du survol pour un meilleur effet
    }

    .action-image-buttons{
        //ensuite on reprend ce qu'on a déja fait au dessus pour titre image pour que les bouttons se placent ausses de l'image on utilise l'inspecteur pour travailler sur la page et copier le code qu'on a ainsi généré et on apllique le hover en ajoutant action-image-buttons dans le image-card hover précédent
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 1s;//on ajoute une temps pour la transition lors du survol pour un meilleur effet
    }
}

.form-label{
    color: $primary;
}